@font-face {
  font-family: SFProDisplay;
  src: local('SFProDisplay'), url(./assets/FontsFree-Net-SFProDisplay-Regular.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F9FAFB;
}